@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gradient-to-br;
  @apply from-slate-800;
  @apply to-slate-950;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}